In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 70kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 43.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=4c3bcb6387819ea523878f864ebdba04ceee6e4298ea41c7962292c4fc677893
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ML project').getOrCreate()

In [ ]:
# load data 
df = spark.read.csv('bank.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [ ]:
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [ ]:
# Show Dataset in DataFrame
import pandas as pd
pd.DataFrame(df.take(10), columns=df.columns).transpose()

                   0          1           2  ...          7           8          9
age               59         56          41  ...         60          37         28
job           admin.     admin.  technician  ...    retired  technician   services
marital      married    married     married  ...   divorced     married     single
education  secondary  secondary   secondary  ...  secondary   secondary  secondary
default           no         no          no  ...         no          no         no
balance         2343         45        1270  ...        545           1       5090
housing          yes         no         yes  ...        yes         yes        yes
loan              no         no          no  ...         no          no         no
contact      unknown    unknown     unknown  ...    unknown     unknown    unknown
day                5          5           5  ...          6           6          6
month            may        may         may  ...        may         may        may
duration        1042       1467        1389  ...       1030         608       1297
campaign           1          1           1  ...          1           1          3
pdays             -1         -1          -1  ...         -1          -1         -1
previous           0          0           0  ...          0           0          0
poutcome     unknown    unknown     unknown  ...    unknown     unknown    unknown
deposit          yes        yes         yes  ...        yes         yes        yes

[17 rows x 10 columns]

In [ ]:
# Data grouping by class 
class_name = df.columns[len(df.columns)-1]
df.groupby(class_name).count().toPandas()

  deposit  count
0      no   5873
1     yes   5289

In [ ]:
# convert string to numeric 
from pyspark.ml.feature import StringIndexer
name_col = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'deposit']
indexer = StringIndexer()

In [ ]:
df1 = df
for name in name_col:
  indexer.setInputCol(name).setOutputCol(name + "_index")
  df2 = indexer.fit(df1).transform(df1)
  df1 = df2

In [ ]:
df1.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|job_index|marital_index|education_index|default_index|housing_index|loan_index|contact_index|month_index|poutcome_index|deposit_index|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|          0.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            1.0|          0.0|          0.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|      0.0|          1.0|            1.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|      5.0|          2.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|      4.0|          1.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|      3.0|          1.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|      1.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|      1.0|          1.0|            1.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|      2.0|          1.0|            1.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|      0.0|          2.0|            1.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|      1.0|          1.0|            2.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|      3.0|          2.0|            0.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+
only showing top 20 rows

In [ ]:
name_col_feature = [name + "_index" for name in name_col]
name_col_feature.remove("deposit_index")
name_col_feature += ['balance', 'day', 'campaign', 'pdays', 'previous']
class_name = 'deposit_index'
print(name_col_feature)
print(class_name)

['job_index', 'marital_index', 'education_index', 'default_index', 'housing_index', 'loan_index', 'contact_index', 'month_index', 'poutcome_index', 'balance', 'day', 'campaign', 'pdays', 'previous']
deposit_index

In [ ]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler()
assembler.setInputCols(name_col_feature).setOutputCol('features')

transformed_data = assembler.transform(df1)

In [ ]:
transformed_data.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+--------------------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|job_index|marital_index|education_index|default_index|housing_index|loan_index|contact_index|month_index|poutcome_index|deposit_index|            features|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+--------------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,4,6,9,10,1...|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|          0.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,6,9,10,11,...|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,4,6,9,10,1...|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,4,6,9,10,1...|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            1.0|          0.0|          0.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,2,6,9,10,1...|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|      0.0|          1.0|            1.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|(14,[1,2,4,5,6,10...|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|(14,[2,4,5,6,9,10...|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|      5.0|          2.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,1,4,6,9,10...|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|      2.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,4,6,9,10,1...|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|      4.0|          1.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,1,4,6,9,10...|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|      3.0|          1.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,1,4,6,9,10...|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|      1.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,4,6,9,10,1...|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|      0.0|          0.0|            1.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|(14,[2,4,5,6,9,10...|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|      1.0|          1.0|            1.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|[1.0,1.0,1.0,0.0,...|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|      2.0|          1.0|            1.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|[2.0,1.0,1.0,0.0,...|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|      0.0|          2.0|            1.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[1,2,4,6,9,10...|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|      1.0|          1.0|            2.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|[1.0,1.0,2.0,0.0,...|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|      4.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,4,6,9,10,1...|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|      3.0|          0.0|            0.0|          0.0|          1.0|       0.0|          1.0|        0.0|           0.0|          1.0|(14,[0,4,6,9,10,1...|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|      3.0|          2.0|            0.0|          0.0|          1.0|       1.0|          1.0|        0.0|           0.0|          1.0|[3.0,2.0,0.0,0.0,...|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
# Split the data
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

In [ ]:
training_data.show()

+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+--------------------+
|age|        job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|job_index|marital_index|education_index|default_index|housing_index|loan_index|contact_index|month_index|poutcome_index|deposit_index|            features|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+--------------------+
| 18|    student| single|  primary|     no|    608|     no|  no| cellular| 12|  aug|     267|       1|   -1|       0| unknown|    yes|      7.0|          1.0|            2.0|          0.0|          0.0|       0.0|          0.0|        1.0|           0.0|          1.0|(14,[0,1,2,7,9,10...|
| 18|    student| single|  primary|     no|    608|     no|  no| cellular| 13|  nov|     210|       1|   93|       1| success|    yes|      7.0|          1.0|            2.0|          0.0|          0.0|       0.0|          0.0|        4.0|           2.0|          1.0|[7.0,1.0,2.0,0.0,...|
| 18|    student| single|  unknown|     no|      3|     no|  no| cellular| 25|  aug|     130|       2|   -1|       0| unknown|    yes|      7.0|          1.0|            3.0|          0.0|          0.0|       0.0|          0.0|        1.0|           0.0|          1.0|(14,[0,1,2,7,9,10...|
| 18|    student| single|  unknown|     no|    108|     no|  no| cellular|  8|  sep|     169|       1|   -1|       0| unknown|    yes|      7.0|          1.0|            3.0|          0.0|          0.0|       0.0|          0.0|        9.0|           0.0|          1.0|(14,[0,1,2,7,9,10...|
| 18|    student| single|  unknown|     no|    108|     no|  no| cellular|  9|  feb|      92|       1|  183|       1| success|    yes|      7.0|          1.0|            3.0|          0.0|          0.0|       0.0|          0.0|        6.0|           2.0|          1.0|[7.0,1.0,3.0,0.0,...|
| 18|    student| single|  unknown|     no|    348|     no|  no| cellular|  5|  may|     443|       4|   -1|       0| unknown|    yes|      7.0|          1.0|            3.0|          0.0|          0.0|       0.0|          0.0|        0.0|           0.0|          1.0|(14,[0,1,2,9,10,1...|
| 19|    student| single|  primary|     no|    103|     no|  no| cellular| 10|  jul|     104|       2|   -1|       0| unknown|    yes|      7.0|          1.0|            2.0|          0.0|          0.0|       0.0|          0.0|        2.0|           0.0|          1.0|(14,[0,1,2,7,9,10...|
| 19|    student| single|  primary|     no|    134|     no|  no| cellular| 27|  mar|     271|       2|   -1|       0| unknown|    yes|      7.0|          1.0|            2.0|          0.0|          0.0|       0.0|          0.0|       10.0|           0.0|          1.0|(14,[0,1,2,7,9,10...|
| 19|    student| single|secondary|     no|     55|     no|  no|telephone|  6|  oct|      89|       2|  193|       1|   other|     no|      7.0|          1.0|            0.0|          0.0|          0.0|       0.0|          2.0|        7.0|           3.0|          0.0|[7.0,1.0,0.0,0.0,...|
| 19|    student| single|secondary|     no|    302|     no|  no| cellular| 16|  jul|     205|       1|   -1|       0| unknown|    yes|      7.0|          1.0|            0.0|          0.0|          0.0|       0.0|          0.0|        2.0|           0.0|          1.0|(14,[0,1,7,9,10,1...|
| 19|    student| single|secondary|     no|    394|     no|  no| cellular|  5|  apr|     327|       3|   -1|       0| unknown|    yes|      7.0|          1.0|            0.0|          0.0|          0.0|       0.0|          0.0|        5.0|           0.0|          1.0|(14,[0,1,7,9,10,1...|
| 19|    student| single|  unknown|     no|    108|     no|  no| cellular|  9|  mar|     273|       2|  182|       1| success|    yes|      7.0|          1.0|            3.0|          0.0|          0.0|       0.0|          0.0|       10.0|           2.0|          1.0|[7.0,1.0,3.0,0.0,...|
| 19|    student| single|  unknown|     no|    779|     no|  no| cellular|  1|  apr|     184|       4|   -1|       0| unknown|    yes|      7.0|          1.0|            3.0|          0.0|          0.0|       0.0|          0.0|        5.0|           0.0|          1.0|(14,[0,1,2,7,9,10...|
| 20|     admin.| single|secondary|     no|    336|     no| yes| cellular|  5|  jun|     133|       1|   -1|       0| unknown|     no|      3.0|          1.0|            0.0|          0.0|          0.0|       1.0|          0.0|        3.0|           0.0|          0.0|(14,[0,1,5,7,9,10...|
| 20|blue-collar| single|secondary|     no|     76|    yes|  no| cellular| 18|  may|     639|       2|   -1|       0| unknown|    yes|      1.0|          1.0|            0.0|          0.0|          1.0|       0.0|          0.0|        0.0|           0.0|          1.0|(14,[0,1,4,9,10,1...|
| 20|blue-collar| single|secondary|     no|    423|    yes|  no| cellular| 16|  apr|     498|       1|   -1|       0| unknown|    yes|      1.0|          1.0|            0.0|          0.0|          1.0|       0.0|          0.0|        5.0|           0.0|          1.0|(14,[0,1,4,7,9,10...|
| 20|    student|married|  unknown|     no|    292|     no|  no| cellular|  5|  aug|     385|       2|   93|       1| failure|    yes|      7.0|          0.0|            3.0|          0.0|          0.0|       0.0|          0.0|        1.0|           1.0|          1.0|[7.0,0.0,3.0,0.0,...|
| 20|    student| single|  primary|     no|    134|     no|  no| cellular| 12|  jul|     273|       1|  277|       3|   other|     no|      7.0|          1.0|            2.0|          0.0|          0.0|       0.0|          0.0|        2.0|           3.0|          0.0|[7.0,1.0,2.0,0.0,...|
| 20|    student| single|  primary|     no|   6991|     no|  no| cellular| 12|  aug|     178|       2|   -1|       0| unknown|    yes|      7.0|          1.0|            2.0|          0.0|          0.0|       0.0|          0.0|        1.0|           0.0|          1.0|(14,[0,1,2,7,9,10...|
| 20|    student| single|secondary|     no|    130|     no|  no|telephone|  4|  may|      75|       3|   -1|       0| unknown|     no|      7.0|          1.0|            0.0|          0.0|          0.0|       0.0|          2.0|        0.0|           0.0|          0.0|(14,[0,1,6,9,10,1...|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+---------+-------------+---------------+-------------+-------------+----------+-------------+-----------+--------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.classification import LogisticRegression
model = LogisticRegression(featuresCol = 'features',labelCol='deposit_index', maxIter=30)
M = model.fit(training_data)

In [ ]:
# Predict with the test dataset
predictions = M.transform(test_data)

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

multi_evaluator = MulticlassClassificationEvaluator(labelCol = 'deposit_index', metricName = 'accuracy')
print('Logistic Regression Accuracy:', multi_evaluator.evaluate(predictions))

Logistic Regression Accuracy: 0.6900844819919965